html,body{
  position:relative;
  width: 100%;
  height: 100%;
      /* 边框 */
  margin:0px;

}
div{
  box-sizing: border-box;
  /* 123 */
}
/* 2223 */

.page-main{
  padding-top:82px;
position:relative;
width: 100%;
height: 100%;
background-color: #ccc;
}
.page-main .page-top{
  position:absolute;
  top: 0px;
  width: 100%;
  height: 82px;
  background-color: #ff0000;

}
.page-main  .page-content{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #00ff00;
}

.content-cont{
  
  position:relative;
  width: 100%;
  height: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 220px;

}

.sidebar{
  position:absolute;
  left: 0px;
  width: 220px;
  height: 100%;
  background-color: blue;
}

.rigth{
  position:relative;
  width: 100%;
  height: 100%;
  background-color:pink;
}

li{
  float: left;
  list-style: none;
  margin-right: 20px;
}

.full-screen{
  position: relative;
  width: 100%;
  height: 100%;
}